.nav-bar{background: linear-gradient(to right,#000,#e84393);
    z-index:1000;
    
}

.active-link{
 

    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:700;
    letter-spacing: 0.1rem;
   
}


