.nav-bar{background: linear-gradient(to right,#000,#e84393);
    
}

.active-link{
 

    background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:500;
    letter-spacing: 0.1rem;;
}

