.footer{
   
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100vw; 
    position:absolute;
    top:200%;
    background:linear-gradient(#333,#ccc)
    
 
}


.footer .title{
    background: -webkit-linear-gradient(#0d324d, #7f5a83);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    text-align: center;
    font-size:2rem;
    margin-top:3rem;
}

.footer-content{
    height:350px;
    width:550px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
   
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    
  
}





.footer p{
    margin-top:2rem;
    color:#555;
    text-align:center;
   
   
    
}

.footer-brand-text{
    text-align: center;
    font-size:1.5rem;
    padding-bottom:-7rem;
    
   
}

@media (max-width:600px) {
    .footer{
        position:absolute;
        top:350%;
    }
}